@page
@model PostWebSite.Pages.CreateTagModel
@{
}
<form method="post" dir="rtl">
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input asp-for="Tag.Name" class="form-control"  placeholder="نام تگ">
        
    </div>
   
    <button type="submit" class="btn btn-primary">ثبت</button>
</form>